[AUTOUPDATE]
AUTOMATIC_UPDATES=0

[PLUGIN]
NAME=bold2lox
TITLE=Bold Smart Lock Bridge
AUTHOR_NAME=Norman Albusberger
VERSION=0.1.0
LOGLEVEL=7
AUTOUPGRADE=false

; Hinweis: Die genauen Feldnamen/Struktur von plugin.cfg haengen von deiner
; LoxBerry-Version ab. Diese Datei am offiziellen Plugin-Template ausrichten:
;   https://github.com/mschlenstedt/LoxBerry-Plugin-SamplePluginV2
; Kernpunkte: Plugin-Name = bold2lox (bestimmt die Zielpfade unten).
