[AUTOUPDATE]
# Prerelease channel for automatic updates.

# Version of this prerelease
VERSION=0.2.2

# Download URL of the ZIP archive (GitHub release tag)
ARCHIVEURL=https://github.com/norman-albusberger/bold2lox/archive/refs/tags/v0.2.2.zip

# Optional: URL with more information about this release
# INFOURL
