[AUTOUPDATE]
# Prerelease-Kanal fuer automatische Updates.

# Version des Prerelease
VERSION=0.1.0-prerelease

# Download-URL des ZIP-Archivs (GitHub-Release-Tag)
ARCHIVEURL=https://github.com/norman-albusberger/bold2lox/archive/refs/tags/v0.1.0-prerelease.zip

# Optional: URL mit weiteren Infos zum Release
# INFOURL
