[AUTOUPDATE]
# Wird fuer automatische Updates genutzt. VERSION + ARCHIVEURL beim Release anpassen
# und im GitHub-Repo einen passenden Tag/Release anlegen.

# Version des Release
VERSION=0.1.0

# Download-URL des ZIP-Archivs (GitHub-Release-Tag)
ARCHIVEURL=https://github.com/norman-albusberger/bold2lox/archive/refs/tags/v0.1.0.zip

# Optional: URL mit weiteren Infos zum Release
# INFOURL
